<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons style="position:absolute" slot="start"><ion-back-button></ion-back-button> </ion-buttons>
    <ion-title style="position:relative"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-card style="justify-content:center;text-align: center;margin-top:90px"  >
    <ion-card-header >
      
    </ion-card-header>
    <ion-card-content >
      
      <form [formGroup]="formularioLogin" >
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button color="medium" shape="round" fill="outline" [routerLink]="['/home1']">
        Ingresar
      </ion-button>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>